@import "post";

.container.bluesky {

  .profile {
    min-height: 400px;
    display: flex;
    align-items: center;
    .profile-content {
      position: relative;
      top: -1rem;
      .profile-pictures-wrapper {
        position: relative;
        margin-bottom: 150px;
        min-height: calc(150px + 1.5rem);
        .profile-banner-wrapper {
          width: 100%;
          @media (max-width: 767px) {
            display: none !important;
          }
        }
        .profile-contact {
          position: absolute;
          bottom: -5rem;
          height: 5rem;
        }
        .profile-picture-wrapper {
          position: absolute;
          bottom: -150px;
          @media (max-width: 767px) {
            width: calc(100% - 2rem);
            display: flex;
            margin: 0 1rem;
          }
          @media (min-width: 768px) {
            margin: 0 3rem;
          }
          .profile-picture {
            border-radius: 100%;
            border-width: 0.25rem !important;
            min-width: 200px;
            max-width: 300px;
            width: 100%;
          }
        }
      }
    }
  }
}